@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');


*{
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}



.nav_container{
    background-color: #f4f4f4;
    box-shadow: 2px 2px 50px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 6rem;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    margin: 0;
}

#home_sm a{
    font-size: 40px;
    text-decoration: none;
}

.icon_profile{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.icon_profile li a i{
    font-size: 27px;
}
#icon_cloud a i{
    font-size: 40px;
}


.img_information_sm{
    display: flex;
    position: absolute;
    top: 0;
    left: 6rem;
    margin: 0;

}

.img_information_sm .box{
    background-color: rgb(140, 140, 140);
    height: 100vh;
    width: 40vw;
    position: absolute;
    top: 0;
    z-index: -100;
}

.img_information_sm img{
    height: 100vh;
    width: 40vw;
    z-index: 10;
}

#n_sm h1{
    font-size: 60px;
    color: white;
    margin: 0;
}
#j_sm h2{
    font-size: 30px;    
    color: white;
    margin: 0;
}


.box_container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 72vh;
    align-items: center;
    margin-left: 17rem ;
}


.icon_contact_info{
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    

}

.icon_contact_info li {
    text-decoration: none;
    list-style: none;


}

.icon_contact_info li a i{
    font-size: 35px;
    margin-top: 20px;
    color: white;
    transition: 0.2s;
}

.icon_contact_info li a i:hover{
    color: black;
}
.information_sm{
    background-color:rgb(150, 150, 150) ;
    width: 55vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 45vw;
    margin: 0;
    box-shadow: -2px -2px 50px 10px black;
}
.text_above{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px;
    justify-content: center;
    height: 50vh;
    width: 55vw;
    border-bottom: 2px dashed black;

}
.about_me h1{
    font-size: 100px;
}
.li_info{
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 25px;
    color: brown;
}
.text_information{
    text-align: justify;
    text-justify: inter-word;
    margin-right: 100px;
}
.text_above div{
    margin-left: 100px;
}
.text_under{
    /* background-color: black; */
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 50vh;
    width: 55vw;
}
.text_under div h1{
    font-size: 50px;
}

.text_under div{
    margin-left: 100px;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2, 200px);
    margin-top: 50px;
    gap: 50px;
    overflow: scroll;
    height: 365px;
    width: 700px;
}


.item i{
    font-size: 50px;
}